<div class="event">
<div class="page-header">
  <h4>
    <%= @event.date.strftime('%d.%m.%Y') %>
  </h4>
  <h1>
    <%= link_to @event.name, @event.url, target: :blank %>
  </h1>
  <h3>
    <%= link_to @event.location, @event.location %>
  </h3>
</div>
<p class="description">
  <%= @event.description %>
</p>
</div>
