// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  .interest-link {
    & .glyphicon:after {
      font-family: "Glyphicons Halflings";
      content:"\e143";
    }

    &:hover, &:active, &:focus {
      color: red;
    }

    &.interested {
      color: red;

      & .glyphicon:after {
        font-family: "Glyphicons Halflings";
        content:"\e005";
      }
    }
  }

  .filter-checkbox {

    & ~ .filter-label {
      & .glyphicon:after {
        color: $brand-success;
        font-family: "Glyphicons Halflings";
        content:"\e089";
      }
    }

    &:checked {
      & ~ .filter-label {
        color: $gray-light;

        & .glyphicon:after {
          color: $gray;
          font-family: "Glyphicons Halflings";
          content:"\e090";
        }
      }
    }
  }
}
