.profile {

  .glyphicon {
    &.all-checked:after {
      color: $color-filtered-green;
      content:"\e105";
      font-family: "Glyphicons Halflings";
    }

    &.not-all-checked:after {
      color: $color-filtered-red;
      content:"\e106";
      font-family: "Glyphicons Halflings";
    }
  }



  .filter-checkbox {
    & ~ .filter-label {
      color: $gray-light;

      & .glyphicon:after {
        color: $color-filtered-red;
        font-family: "Glyphicons Halflings";
        content:"\e106";
      }
    }


    &:checked {
      & ~ .filter-label {
        color: $gray-dark;

        & .glyphicon:after {
          color: $color-filtered-green;
          font-family: "Glyphicons Halflings";
          content:"\e105";
        }
      }
    }
  }
}
