.profile {

  .filter-checkbox {
    & ~ .filter-label {
      color: $gray-light;

      & .glyphicon:after {
        color: $gray;
        font-family: "Glyphicons Halflings";
        content:"\e090";
      }
    }


    &:checked {
      & ~ .filter-label {
        color: $gray-dark;

        & .glyphicon:after {
          color: $brand-success;
          font-family: "Glyphicons Halflings";
          content:"\e089";
        }
      }
    }
  }
}
