<div class="events">
  <% events.upcoming.group_by(&:location).each do |location, location_events| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= link_to location, location %></strong>
      </div>
      <ul class="list-group">
        <% location_events.each do |event| %>
          <li class="list-group-item event-item">
            <div class="row">
              <div class="col-xs-1">
                <%= interest_button(event) %>
              </div>
              <div class="col-xs-3">
                <%= event.date.strftime('%d.%m.%Y') %>
              </div>
              <div class="col-xs-8">
                <%= link_to event, event %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
