<div class="page-header">
  <h1>
    <%= @location %>
    <small><%= link_to @location.link, @location.link, target: :blank %></small>
  </h1>
</div>

<div class="events">
  <% @location.events.upcoming.group_by(&:date).each do |date, date_events| %>
    <div class="col-md-12">
      <h3><%= date.strftime('%d.%m.%Y') %></h3>
    </div>
    <% date_events.each do |event| %>
      <div class="col-xs-10">
        <h4><%= link_to event, event.link, target: :_blank %></h4>
      </div>
    <% end %>
  <% end %>
</div>
